@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Shelved</h1>
        <p>
            Shelved is a library app that let's users keep track of their Books, Movies, and Music by adding them to
            specific lists. 
            </p>
        <div class="jumbotron jumbotron-fluid">
        </div>

    </div>
   <br />
<br />