@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Shelved</h1>
        <p></p>
        <img src="~/images//shelved2.jpg" alt="cds" style="max-height: 500px; min-height: 600px;">
    </div>
