@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Shelved</h1>
        <img src="~/images//shelvedHome.jpg" alt="cds" style="max-height: 450px; min-height: 350px;">
        <p>INFORMATION ABOUT THE APP</p>
    </div>
