@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Shelved</h1>
        <div class="jumbotron jumbotron-fluid">
                @*<img src="~/images//shelvedHome.jpg" alt="cds" style="max-height: 450px; min-height: 350px;">*@
            </div>
        <p>INFORMATION ABOUT THE APP</p>
    </div>
   <br />
<br />